* {
    box-sizing: border-box;
}
   

#grad {
    background-color: #666A86;
    padding-top: 10%;
    padding-bottom: 10%;
    border: 2px solid #4f6367;
    border-radius: 8px;
    
}

body {
    text-align: center;
    font-family:sans-serif;
    background-color:#788AA3;
    padding: 15%;
    padding-top: 10%;
    
}

div {
    padding: 3%;
}

h1 {
    
    color:#eef5db;
    text-shadow: 2px 2px black;
    
}


input[type=text] {
    text-align: center;
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 2px solid #eef5db;
    border-radius: 12px;
    background-color: #eef5db;
}

button {
    text-align: center;
    width: 50px;
    padding: 1%;
    background-color: #92B6B1;
    border-radius: 12px;
}

li {
    padding: 1%;
    list-style: none;
    background-color: #eef5db;
    width: 20%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
    box-shadow: 4px 4px #4f6367;
    border-radius: 12px;
}
closebtn {
    width: 15px;
}

#errormsg {
    text-align: center;
    color:#7a9e9f;
    font-weight: bolder;
    
}